body {
  font-family: "Arial", sans-serif;
}

/* Atur teks di bagian atas */
.top-section h2 {
  margin-top: 20px;
  color: #000; /* Ganti sesuai warna yang diinginkan */
}

/* Section di tengah */
section.middle-section {
  background-image: url("your_background_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section h2 {
  margin-top: -15px; /* Sesuaikan jarak dari gambar */
  color: #f8f9fa;
}

/* Teks di bagian bawah */
.bottom-section {
  margin-top: 50px;
  padding-bottom: 20px;
}

.bottom-section h2 {
  color: #000; /* Ganti sesuai warna yang diinginkan */
}
