body {
  padding-top: 80px;
}

/* Navbar */
.navbar-brand {
  font-family: "Inria Serif", serif;
  /* Apply Inria Serif font */
  font-size: 18px;
  line-height: 1.2;
  /* Adjust line-height for better alignment */
  padding-left: 100px;
}

/* Adjust text position */
.brand-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.brand-text span {
  display: block;
}

.brand-text .univ {
  font-size: 20px;
  /* Size for "Universitas" */
  font-weight: medium;
}

.brand-text .gadjah-mada {
  font-size: 16px;
  /* Size for "Gadjah Mada" */
  font-weight: 400;
}

/* Icons Sosmed */
.navbar-nav .nav-icons {
  text-align: center;
}

/* Custom Navbar Style */
.custom-navbar {
  background-color: #083d62;
  padding: 10px;
  transition: background-color 0.5s ease-in-out;
}

/* Navbar change background on scroll */
.custom-navbar.scrolled {
  background-color: rgba(8, 61, 98, 0.8);
}

/* Hover effect on nav-link */
.navbar-nav .nav-link {
  color: white;
  /* Warna teks menjadi putih */
}

/* Atur warna teks saat hover */
.navbar-nav .nav-link:hover {
  color: #fdbc2c;
  /* Warna teks saat di-hover */
}

/* Berita */
.news-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.news-date {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  display: inline-block;
}

.news-card img {
  border-radius: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .news-card {
    margin-bottom: 20px;
  }
}
